<footer class="site-footer">
    <p class="copyright">Alpha Commodities S.A. - {% t footer.copyright %}</p>
    <p class="copyright">Desenvolvido por <a href="https://about.me/adrianomaringolo">Adriano Maringolo</a></p>
</footer>
