<header>
    <div class="text-center logo-area">
      <a class="site-title" href="{{ "/" | relative_url }}" title="{{ site.title | escape }}">
        <img class="logo" src="{{site.img_path}}/logo_color_1.png">
      </a>
      
      <!--<div class="language-selection">
        {{}}
        {% if site.lang == "pt" %}
          <a href="/en{{ page.permalink_en }}" >{% t translation.translate %} <span class="language">{% t translation.en %}</span></a>
        {% elsif site.lang == "en" %}
          {% if page.url == "/" %}
            <a href="/{{ site.baseurl_root }}" >{% t translation.translate %} <span class="language">{% t translation.pt %}</span></a>
          {% else %}
            <a href="{{ site.baseurl_root }}{{ page.permalink }}" >{% t translation.translate %} <span class="language">{% t translation.pt %}</span></a>
          {% endif %}
        {% endif %}
      </div>-->
    </div>
    <nav>
      <ul class="text-center list-unstyled">
        <a class="site-title" href="{{ "/" | relative_url }}" title="{{ site.title | escape }}">
          <img class="logo-small" src="{{site.img_path}}/logo_color_1.png">
        </a>
        <li><a class="page-link" href="{% tl company %}">{% t pages.company %}</a></li>
        <li><a class="page-link" href="{% tl business %}">{% t pages.business %}</a></li>
        <li><a class="page-link" href="{% tl partners %}">{% t pages.partners %}</a></li>
        <li><a class="page-link" href="{% tl sustentability %}">{% t pages.sustentability %}</a></li>
        <li><a class="page-link" href="{% tl news %}">{% t pages.news %}</a></li>
        <li><a class="page-link" href="{% tl contact %}">{% t pages.contact %}</a></li>
      </ul>
    </nav>

    
</header>