<div class="info-box" id="{{ include.id }}">
    <div class="inner-info">
        <p class="phrase">{% t include.phrase-tkey %}</p>
        <p>{% t include.content-tkey %}</p>
    </div>
    
    {% if include.link-namespace != blank %}
        <div class="plus-button">
            <a href="{% translate_link include.link-namespace %}"><span class="lnr lnr-plus-circle"></span>{% t global.read-more %}</a>
        </div>
    {% endif %}
</div>