<div id="slider">
  <a class="control_next"><span class="lnr lnr-arrow-right-circle"></span></a>
  <a  class="control_prev"><span class="lnr lnr-arrow-left-circle"></span></a>
  <ul>
    <li data-slide-number="0">
        <p>
            <video width="650" height="400" controls controlsList="nodownload">
                <source src="{{ site.baseurl_root }}/assets/video/video-alpha.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </p>
    </li>
    <li data-slide-number="1">
        <p>
            <img src='{{ site.baseurl_root }}/assets/img/mapa-brasil.png'>
            A Alpha se relaciona com inúmeros produtores agrícolas e pecuaristas no Brasil. Por esse motivo, a empresa desenvolveu um modelo de negócio inovador, que contribui para o crescimento do agronegócio e dá mais segurança aos produtores.             
        </p>
    </li>
    
    <li data-slide-number="2">
        <p>
        <b>NOSSA MISSÃO</b><br>
        Atuar de forma inovadora no mercado de agronegócios e pecuária no Brasil e no mundo, respeitando o meio ambiente e todas as partes envolvidas em nossos negócios, buscando o crescimento sustentável.        
        <br><br>
        <b>NOSSA VISÃO</b><br>
        Ser reconhecida globalmente como a melhor e mais inovadora empresa de agronegócios e pecuária da América Latina, crescendo de modo responsável e contribuindo para a distribuição de alimentos no mundo.        
        </p>
    </li>
  </ul>
  <div class="slider-counter"></div>  
</div>

<script>
    jQuery(document).ready(function ($) {
  
	var slideCount = $('#slider ul li').length;
	var slideWidth = $('#slider ul li').width();
	var slideHeight = $('#slider ul li').height();
	var sliderUlWidth = slideCount * slideWidth;
	
	$('#slider').css({ width: slideWidth, height: slideHeight });
	
	$('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });
	
    $('#slider ul li:last-child').prependTo('#slider ul');

    for(let i = 0; i < slideCount; i++) {
        if( i == 0)
            $('#slider .slider-counter').append('<div class="step active" data-slide-active="' + i + '"></div>');
        else
            $('#slider .slider-counter').append('<div class="step" data-slide-active="' + i + '"></div>');
    }

    function moveLeft() {
        
        $('#slider ul').animate({
            left: + slideWidth
        }, 200, function () {
            showMarkerCount($('#slider ul li:first-child').attr('data-slide-number'));
            $('#slider ul li:last-child').prependTo('#slider ul');
            $('#slider ul').css('left', '');
            
        });
        
    };

    function moveRight() {
        
        $('#slider ul').animate({
            left: - slideWidth
        }, 200, function () {
            showMarkerCount($('#slider ul li:last-child').attr('data-slide-number'));
            $('#slider ul li:first-child').appendTo('#slider ul');
            $('#slider ul').css('left', '');
        });
        
    };

    function showMarkerCount(current) {
        $('.step').removeClass('active');
        $('.step[data-slide-active=' +current+ ']').addClass('active');
    }

    $('a.control_prev').click(function () {
        moveLeft();
    });

    $('a.control_next').click(function () {
        moveRight();
    });

});    
</script>