.contact {
    box-sizing: border-box;
    margin: 20px 0;
    color: black;
    text-align: left;
    font-size: 1em;
    display: flex;
    form {
        width: 100%;
        padding-right: 30px;
        ul {
            list-style: none;
            li {
                width: 100%;
                label {
                    display: block;
                    margin-top: 15px;
                    &.required:after {
                        content: ' *';
                    }
                }
                input[type="email"],
                input[type="text"],
                textarea {
                    display: block;
                    width: 100%;
                    padding: 5px;
                    color: black;
                    border: 1px solid black;
                    background-color: transparent;
                    font-size: 0.8em;
                    font-family: 'Quicksand', sans-serif;
                }
                textarea {
                    resize: vertical;
                }
            }
        }
    } // end of form
    .cv-area {
        padding: 30px;
        width: 100%;
        background: $secondary-color;
    }
} // end of .contatc
.contact li button[type="submit"] {
    display: inline-block;
    font-size: 1.2em;
    margin: 15px 0;
    color: black;
    border: none;
    background-color: #4c6c54;
    transition: all 0.5s;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    padding: 15px;
}

.contact li button[type="submit"]:hover {
    color: black;
    background-color: #7caf89;
}