@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
body {
    font-family: 'Quicksand', sans-serif;
    font-size: $base-font-size;
    h1,
    h2,
    h3 {
        font-family: "Bebas Neue", sans-serif;
    }
    .lnr {
        margin-right: 10px;
    }
}

.nav-arrow {
    position: fixed;
    color: rgba(255, 255, 255, 0.7);
    font-size: 3em;
    transition: all 0.5s;
    z-index: 1;
    left: 20px;
    &:hover {
        transform: scale(1.5);
        color: white;
        cursor: pointer;
    }
    &.go-up {
        bottom: 50px;
    }
    &.go-down {
        top: 50px;
    }
}

header {
    background-color: $primary-color;
    width: 100%;
    padding: 0 10px;
    position: fixed;
    top: 0;
    z-index: 2;
    &.nav-up {
        .logo-area {
            height: 0;
            .logo {
                opacity: 0;
                display: none;
            }
            .language-selection {
                opacity: 0;
            }
        }
        .logo-small {
            opacity: 1;
        }
    }
    .logo-area {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        position: relative;
        height: 110px;
        transition: height 0.5s;
        .logo {
            height: 80px;
            margin: 15px;
            opacity: 1;
            transition: opacity 0.2s;
        }
        .language-selection {
            opacity: 1;
            transition: opacity 0.2s;
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 0.7em;
            a {
                color: white;
                cursor: pointer;
                &:hover {
                    color: rgba(255, 255, 255, 0.5);
                    text-decoration: none;
                }
            }
            .language {
                font-family: "Bebas Neue", sans-serif;
                font-size: 2em;
                display: block;
                font-weight: bold;
            }
        } // end of header nav .logo-area .language-selection
    } // end of header nav .logo-area
    nav {
        padding: 0 10px;
        .logo-small {
            height: 2em;
            position: absolute;
            left: 10px;
            margin: 8px;
            opacity: 0;
            transition: opacity 0.2s;
        }
        ul {
            margin: 0;
        }
        li {
            display: inline-block;
            a {
                font-family: "Bebas Neue", sans-serif;
                cursor: pointer;
                padding-left: 10px;
                padding-right: 10px;
                line-height: 2.5em;
                color: white;
                font-size: 1.2em;
                &:hover {
                    color: rgba(255, 255, 255, 0.5);
                    text-decoration: none;
                }
            }
        } // end of header nav li
    } // end of header nav
} // end of header
.page-content {
    margin-bottom: 65px;
    h1.page-title {
        margin-top: 200px;
        padding-left: 100px;
    }
    .page-title-header {
        margin-top: 150px;
        padding-top: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-left: 100px;
        padding-bottom: 5px;
        margin-bottom: 25px;
        h1.page-title {
            color: white;
            margin-top: 0;
            padding-left: 0;
        }
    }
} // end of .page-content
.banner {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .container-info {
        height: 70%;
        width: 80%;
        display: flex;
        justify-content: space-around;
        padding: 40px 0;
    }
    .container-info-boxes {
        position: absolute;
        left: 10%;
        right: 10%;
        top: 150px;
        bottom: 150px;
        overflow: hidden;
        @media #{$mq-tablet} {
            width: auto;
            left: 0%;
            right: 0;
        }
    }
    .message {
        background-color: rgba(0, 0, 0, 0.8);
        padding: 40px;
        width: 600px;
        min-width: 300px;
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.5);
        p {
            font-family: "Bebas Neue", sans-serif;
            color: white;
            font-size: 2em;
        }
        &.right {
            right: 40px;
        }
        &.bottom {
            bottom: 100px;
        }
        &.left {
            left: 40px;
        }
        &.top {
            top: 200px;
        }
    } //end of .message
    .little-box-area {
        position: absolute;
        right: 0;
        width: 30%;
    }
    .little-box {
        background-color: rgba(255, 255, 255, 0.7);
        width: 100%;
        transition: background-color 0.5s;
        cursor: pointer;
        text-align: center;
        z-index: 0;
        position: relative;
        display: inline-block;
        &.selected {
            background: $secondary-color;
        }
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $secondary-color;
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition: transform .3s ease-out;
        }
        &:hover:before {
            transform: scaleX(1);
        }
        h2 {
            line-height: 200px;
            font-size: 2.5em;
            margin: 0;
            padding: 0;
            .lnr {
                margin-right: 25px;
            }
        }
    } //end of .little-box
    .info-box {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 70%;
        background-color: $background-black;
        padding: 50px;
        display: none;
        &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 15px;
            background: $secondary-color;
        }
        .inner-info {
            position: absolute;
            left: 50px;
            right: 50px;
            top: 50px;
            bottom: 100px;
            overflow: hidden;
        }
        p {
            font-size: 1.1em;
            color: white;
            text-align: justify;
        }
        .phrase {
            font-family: "Bebas Neue", sans-serif;
            font-size: 1.5em;
            margin-bottom: 20px;
            padding-left: 35px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background: $primary-color;
                height: 100%;
                width: 25px;
            }
        }
        .plus-button {
            position: absolute;
            bottom: 50px;
            right: 50px;
            a {
                font-family: "Bebas Neue", sans-serif;
                color: white;
                font-size: 1.5em;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    } //end of .little-box
} // end of .banner
section.page-content {
    margin: 0 100px;
}

section.news-area {
    .container-info {
        flex-direction: column;
    }
    .news {
        display: flex;
        width: 100%;
        ul {
            text-align: center;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-around; //flex-wrap: wrap;
            flex-direction: row;
            li {
                float: none;
                display: inline-block;
                width: 30%;
                min-width: 260px;
            }
            .thumb-post {
                height: 400px;
                width: 100%;
            }
        }
    }
    .plus-button {
        width: 100%;
        text-align: right;
        a {
            font-family: "Bebas Neue", sans-serif;
            color: black;
            font-size: 1.5em;
            &:hover {
                text-decoration: none;
            }
        }
    }
} // end of section.news-area
section.contact-area {
    .container-info {
        background-color: $background-black;
        color: white;
        height: 70%;
        width: 80%;
        display: flex;
        justify-content: space-around;
        padding: 40px 0;
        .icon {
            display: block;
            text-align: center;
            width: 100%;
            margin-bottom: 25px;
        }
        .lnr {
            font-size: 8em;
            display: inline-block;
            margin: 0 auto;
            text-align: center;
            padding: 50px;
            background-color: $primary-color;
            color: $secondary-color;
            border-radius: 50%;
        }
    } // end of .container-info
} // end of section.contact-area
footer {
    background-color: $secondary-color;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    p {
        color: black;
        font-size: 0.7em;
        text-align: center;
        padding: 10px 0;
        margin: 0;
        display: inline;
    }
}