$titleH: 90px;

.news {
    li {
        list-style: none;
        float: left;
        margin: 10px;
    }
    .thumb-post {
        position: relative;
        width: 400px;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
            box-shadow: 0px 0px 20px #888888;
            cursor: pointer;
            .title {
                text-decoration: underline;
            }
        }
        .title {
            position: absolute;
            bottom: 0;
            left: 40px;
            right: 0;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            height: $titleH;
            padding: 10px;
            text-align: left;
        }

        .date {
            background-color: $secondary-color;
            width: 40px;
            position: absolute;
            bottom: 0;
            left: 0;
            color: black;
            height: $titleH;
            padding: 5px;
            .day, .month, .year {
                display: block;
                width: 100%;
                text-align: center;
                
            }
            .day, .month {
                border-bottom: 2px solid black;
                font-size: 1.2em;
            }
            .year {
                font-size: 0.8em;
            }
        }
    }
}