@charset "utf-8";

// Import partials.
@import
  "helpers/vars",
  "helpers/mixins",
  "layout",
  "contact",
  "post",
  "news",
  "components/slider"
;

@include font-face("Bebas Neue", "../fonts/bebasNeue/bebasneue");


// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}


