#slider, #slider-back {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    ul {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            position: relative;
            display: flex;
            align-content: center;
            float: left;
            margin: 0;
            padding: 0;
            width: 800px;
            height: 600px;
            text-align: center;

            p {
                margin: auto 70px;
                text-align: -webkit-center;
            }

            img {
                display: block;
                width: 50%;
            }
        }
    }
    .slider-counter {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        .step {
            width: 20px;
            height: 20px;
            border: 2px solid  #ccc;
            border-radius: 50%;
            display: inline-block;
            margin: 0 5px;
            &.active {
                background-color: #ccc;
            }
        }
    }
} // end of #slider

#slider-back {
    height: 100%;
    ul {
        height: 100%;
    }
    li {
        height: 100% !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

a.control_prev,
a.control_next {
    position: absolute;
    top: 40%;
    z-index: 1;
    display: block;
    width: auto;
    height: auto;
    color: #2a2a2a;
    font-size: 2em;
    cursor: pointer;
    text-decoration: none;
    transition: font-size 0.5s;
    &:hover {
        font-size: 2.5em;
    }
}

a.control_prev:hover,
a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_next {
    right: 0;
}