--- 
layout: default 
---

<!--<div class="nav-arrow go-up"><span class="lnr lnr-arrow-down-circle"></span></div>
<div class="nav-arrow go-down" onclick="moveUp(event)"><span class="lnr lnr-arrow-up-circle"></span></div>-->

<div class="home">

  <section class="full-page banner" style="background-image: url('{{ site.baseurl_root }}/assets/img/background.jpg')" 
    data-order="1">
    {% include slider-back.html %}
  </section>

  <section class="full-page banner" data-order="2">
    {% include slider.html %}
  </section>

  <section class="full-page banner" style="background-image: url('{{ site.baseurl_root }}/assets/img/background4.jpg')" data-order="3">

    <div class="container-info-boxes">
      <div class="little-box-area">
        <div class="little-box n1" data-opens="company-info">
          <h2><span class="lnr lnr-apartment"></span>{% t home.company %}</h2>
          <p></p>
        </div>

        <div class="little-box n2" data-opens="business-info">
          <h2><span class="lnr lnr-briefcase"></span>{% t home.business %}</h2>
          <!--glyphicon glyphicon-grain-->
          <p></p>
        </div>

        <div class="little-box n3" data-opens="partners-info">
          <h2><span class="lnr lnr-users"></span>{% t home.partners %}</h2>
          <!--glyphicon glyphicon-briefcase-->
          <p></p>
        </div>

        <div class="little-box n4" data-opens="sustentability-info">
          <h2><span class="lnr lnr-leaf"></span>{% t home.sustentability %}</h2>
          <!--<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>-->
          <p></p>
        </div>
      </div>

      {% include info-box.html id="business-info" phrase-tkey="home.info.business-phr" content-tkey="home.info.business" link-namespace="business"%} 
      {% include info-box.html id="company-info" phrase-tkey="home.info.company-phr" content-tkey="home.info.company" link-namespace="company" %} 
      {% include info-box.html id="partners-info" phrase-tkey="home.info.partners-phr" content-tkey="home.info.partners" link-namespace="partners" %} 
      {% include info-box.html id="sustentability-info" phrase-tkey="home.info.sustentability-phr" content-tkey="home.info.sustentability" link-namespace="sustentability" %}
    </div>

  </section>

  <section class="full-page banner news-area" data-order="4">
    <div class="container-info">
      <h2 class="page-title">{% t home.last-news %}</h2>
      <div class="news">
        <ul>
          {% for post in site.posts limit:3 %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">
              <div class="thumb-post" style="background-image: url('{{ site.baseurl_root }}/assets/img/news/{{ post.main-img }}');">
                <span class="date">
                {% if site.lang == "pt" %}
                  <span class="day">{{ post.date | date: "%d" }}</span>
                  <span class="month">{{ post.date | date: "%m" }}</span>
                  <span class="year">{{ post.date | date: "%Y" }}</span> 
                {% else %}
                  <span class="month">{{ post.date | date: "%m" }}</span>
                  <span class="day">{{ post.date | date: "%d" }}</span>
                  <span class="year">{{ post.date | date: "%Y" }}</span> 
                {% endif %}
                </span>
                <span class="title">{{ post.title }}</span>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="plus-button">
          <a href="{% tl news %}"><span class="lnr lnr-plus-circle"></span>{% t global.more-news %}</a>
      </div>
    </div>
  </section>

  <section class="full-page banner contact-area" style="background-image: url('{{ site.baseurl_root }}/assets/img/background3.jpg')"
    data-order="5">
    <div class="container-info">
      <div>
        <span class="icon"><span class="lnr lnr-phone-handset"></span></span>
        <h2>Entre em contato conosco!</h2>
        <p>Telefone: +55 (19) 3114-8690</p>
        <br/>
        <hr>
        <a href="{% tl contact %}" class="page-link" style="color: white; text-decoration: underline;">Acessar formulário de contato</a>
      </div>

      <div>
        <span class="icon"><span class="lnr lnr-map-marker"></span></span>
        <strong>Sede</strong><br> Av. Coronel Silva Telles, 977 cj 102<br>Vila Cambuí<br>Campinas/SP
        <br/>
        <hr>
        <a style="color: white; text-decoration: underline;" href="https://www.google.com.br/maps/place/Av.+Cel.+Silva+Telles,+977+-+Cambu%C3%AD,+Campinas+-+SP,+13024-001/@-22.8940617,-47.0479989,20z/data=!4m5!3m4!1s0x94c8cf5a84a9530b:0x8dcf84062108f3f5!8m2!3d-22.8942668!4d-47.0477823?hl=pt-BR" class="page-link">
          Abrir no Google Maps</a>
        
      </div>
    </div>
  </section>

  {{ content }}

</div>

<script>
  var windowH = $(window).height();
  $('section.full-page').css('height', windowH);

  var areaH = $('.container-info-boxes').height();
  $('.little-box').css('height', areaH / 4);
  $('.little-box h2').css('line-height', areaH / 4 + "px ");

  jQuery(".little-box").click(function () {
    jQuery(".info-box").fadeOut();
    jQuery(".little-box").removeClass('selected');
    jQuery(this).addClass('selected');
    jQuery("#" + jQuery(this).attr('data-opens')).fadeIn();
  });

  jQuery(".little-box.n1").click();

  initScrollWatch();

  function initScrollWatch() {
    //vars necessárias
    var didScroll,
      lastScrollTop = 0,
      delta = 5,
      navbar = $('header'),
      navbarHeight = navbar.outerHeight();

    //coloca a classe se houve scoll
    function hasScrolled() {
      var st = $(document).scrollTop();

      if (st == 0) {
        navbar.removeClass('nav-up').addClass('nav-down');
      } else {
        // Scroll Down
        navbar.removeClass('nav-down').addClass('nav-up');
      }
      lastScrollTop = st;
    }

    //watch
    setInterval(function () {
      if (didScroll) {
        hasScrolled();
        didScroll = false;
      }
    }, 250);

    $(document).scroll(function () {
      didScroll = true;
    });
  }

  function moveUp(event) {

    var currentOrder =

      console.log("UP");

    var st = $(document).scrollTop();

    // Prevent default anchor click behavior
    event.preventDefault();


    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: 0
    }, 800, function () {

    });
  }
</script>