---
layout: default
---

 {% if page.header-image %}
    <div class="page-title-header" style="background-image:linear-gradient(transparent, rgba(0, 0, 0, 0.9)), url('{{ site.baseurl_root }}/assets/img/{{ page.namespace }}/background.jpg') ">
        <h1 class="page-title" >{% t page.title %}</h1>
    </div>
{% else %}
    <h1 class="page-title" >{% t page.title %}</h1>
{% endif %}

<section class="page-content">
    {{content}}
</section>
